@if (trendMovie) {
    <div class="hero-section"
        [style.background-image]="'url(' + tmdbService.getImageURL(trendMovie.poster_path!, 'original') + ')'">
        
        <div class="hero-overlay"></div>
        
        <div class="hero-content">
            <h1 class="hero-title">{{trendMovie.title}}</h1>
            <p class="hero-overview">
                {{trendMovie.overview}}
            </p>
            <div class="hero-buttons">
                <button class="btn-netflix-main">
                    <fa-icon icon="play"></fa-icon>
                    Play
                </button>
                <button class="btn-netflix-secondary" (click)="tmdbService.openMoreInfos(trendMovie.id)">
                    <fa-icon icon="circle-info"></fa-icon>
                    More Info
                </button>
            </div>
        </div>
    </div>
}
