<nav class="netflix-navbar" [class.scrolled]="isScrolled">
  <div class="navbar-container">
    <div class="nav-left">
      <a class="brand" routerLink="/">
        <img
          src="/Logonetflix.png"
          alt="Netflix Logo"
          class="logo"
        />
      </a>
      <ul class="nav-links">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/series">TV Shows</a></li>
        <li><a routerLink="/movies">Movies</a></li>
        <li><a routerLink="/new">New & Popular</a></li>
        <li><a routerLink="/mylist">My List</a></li>
        <li><a routerLink="/languages">Browse by Languages</a></li>
      </ul>
    </div>

    <div class="nav-right">
      <div class="search-box">
        <fa-icon icon="search" class="search-icon"></fa-icon>
        <input 
          [ngModel]="searchTerm" 
          (ngModelChange)="onSearch($event)" 
          name="search"
          type="text"
          placeholder="Titles, people, genres"
        >
      </div>
      
      <div class="nav-icon-link">
        <fa-icon icon="bell"></fa-icon>
      </div>

      <div class="profile-menu">
        <img src="profile.jpg" alt="Profile" class="profile-img">
        <fa-icon icon="caret-down" class="caret"></fa-icon>
      </div>
    </div>
  </div>
</nav>