.container-movies {
  display: flex;
  align-items: center;
  padding: 20px 0;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  margin-left: 4% !important;

  &::-webkit-scrollbar {
    display: none;
  }

  // To allow for scaling on hover without clipping
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: -30px;
  margin-bottom: -30px;
}